.description {
  height: 25px;
  padding-left: 15px;
  width: 250px;
}

.heading {
  font-family: "Roboto";
  font-weight: bold;
  color: rgba(21, 188, 218, 0.699);
}
.amount {
  padding-left: 15px;
  height: 25px;
  margin-top: 20px;
}

.date {
  height: 25px;
  margin-top: 25px;
}

.add-btn {
  height: 35px;
  background-color: rgb(13, 122, 247);
  color: white;
  border: none;
  width: 120px;
  border-radius: 5px;
  margin-top: 20px;
}

.show-details {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.amount-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit-btn {
  margin-right: 20px;
}

.list-container {
  height: 250px;
  width: 300px;
}
